<!doctype html>
<html lang="en" ng-app="myapp" ng-controller="bigCtrl" >
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="UTF-8">
    <meta name="wap-font-scale" content="no">
    <title>Document</title>
    <link rel="stylesheet" href="../css/cssreset-min.css">
    <link rel="stylesheet" href="../css/style_common.css">
    <link rel="stylesheet" href="../css/style_order.css">
    <link rel="stylesheet" href="../css/style_comment.css">
    <link rel="stylesheet" href="../css/style_edit.css">
    <link rel="stylesheet" href="../css/style_edit_comment.css">
</head>
<body ng-controller="mainCtrl" dom>
    <div class="page_header" header>
          <div class="back" ng-click="back()">
              <img src="../images/back.png" alt="">
          </div>
          <span>我的评论</span>
          <span class="move"><a href="javascript:;">编辑</a></span>
    </div>

    <div class="shadow">
        <div class="model">
            <p>是否删除这条评论？</p>
            <div>
                <button class="cancel" ng-click="cancel()">取消</button>
                <button class="sure" ng-click="sure()">确定</button>
            </div>
        </div>
    </div>

    <div class="no_comment">
        <p>暂无评论</p>
    </div>
    <div class="container">
    <div class="comment">
        <div class="comment_left">
            <div>
                <span></span>
            </div>
        </div>
        <div class="comment_right">
            <div class="main_order main_admin">
                <a href="javascript:;"><img src="../images/order.png" alt=""></a>
                <div class="main_order_info">
                    <p><a href="javascript:;">张小二</a></p>
                    <p>刚刚</p>
                </div>
                <div class="main_comment">
                    <div class="main_comment_contain">
                        <span>50</span>
                        <a href="javascript:;"><img src="../images/msg.png" alt=""></a>
                    </div>
                    <div class="main_comment_contain">
                        <span>331</span>
                        <a href="javascript:;"><img src="../images/like.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="main_comment_msg">
                <div class="main_comment_owner">
                    <p>天啊撸，为什么这套真丝“睡袍”套装穿她身上会这么仙美 贵族气！蓝色和桃粉色玫瑰印花飘散着甜美气息。</p>
                
                    <div class="line"></div>
                    <div class="main_comment_other">
                        <p><span class="main_comment_name"><a href="javascript:;">一点咨询网友:</a></span>
                        这里都是游戏暗卫的名字还剩多少钱十年间耗时间节省时间。</p>
                        <p><span class="main_comment_name"><a href="javascript:;">张小二 </a></span>回复<span class="main_comment_name"><a href="javascript:;"> 一点咨询网友:</a></span>
                        京门京门回到家华盛顿</p>
                        <p><span class="main_comment_name"><a href="javascript:;">青衫衣旧 </a></span>回复<span class="main_comment_name"><a href="javascript:;"> 一点咨询网友:</a></span>
                        胡亥他哥就叫长安</p>
                         <p><span class="main_comment_name"><a href="javascript:;">U49625589:</a></span>
                        扶苏不死，大秦不亡</p>
                    </div>
                    <p class="more"><a href="javascript:;" more>展开更多回复</a></p>
                    <div class="line"></div>
                </div>
            </div>
        </div>

    </div>

    <div class="comment">

        <div class="comment_left">
            <div>
                <span></span>
            </div>
        </div>
        <div class="comment_right">
            <div class="main_order main_admin">
                <a href="javascript:;"><img src="../images/order.png" alt=""></a>
                <div class="main_order_info">
                    <p><a href="javascript:;">张小二</a></p>
                    <p>25分钟前</p>
                </div>
                <div class="main_comment">
                    <div class="main_comment_contain">
                        <span>50</span>
                        <a href="javascript:;"><img src="../images/msg.png" alt=""></a>
                    </div>
                    <div class="main_comment_contain">
                        <span>331</span>
                        <a href="javascript:;"><img src="../images/like.png" alt=""></a>
                    </div>
                </div>
            </div>

                <div class="main_comment_msg">
                    <div class="main_comment_owner">
                        <p>天啊撸，为什么这套真丝“睡袍”套装穿她身上会这么仙美 贵族气！蓝色和桃粉色玫瑰印花飘散着甜美气息。</p> 
                    </div>
                </div>
        </div>
    </div>

    <div class="comment">

        <div class="comment_left">
            <div>
                <span></span>
            </div>
        </div>
        <div class="comment_right">
            <div class="main_order main_admin">
                <a href="javascript:;"><img src="../images/order.png" alt=""></a>
                <div class="main_order_info">
                    <p><a href="javascript:;">张小二</a></p>
                    <p>25分钟前</p>
                </div>
                <div class="main_comment">
                    <div class="main_comment_contain">
                        <span>50</span>
                        <a href="javascript:;"><img src="../images/msg.png" alt=""></a>
                    </div>
                    <div class="main_comment_contain">
                        <span>331</span>
                        <a href="javascript:;"><img src="../images/like.png" alt=""></a>
                    </div>
                </div>
            </div>

                <div class="main_comment_msg">
                    <div class="main_comment_owner">
                        <p>天啊撸，为什么这套真丝“睡袍”套装穿她身上会这么仙美 贵族气！蓝色和桃粉色玫瑰印花飘散着甜美气息。</p>
                    </div>
                </div>
        </div>
    </div>
    </div>
    <script src="../js/angular.min.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/edit.js"></script>
</body>
</html>