    <link rel="stylesheet" href="css/style_menu.css">
    <div class="menu" ng-controller="industryCtrl">
        <div class="media_header_info" id="wrapper"> 
                <ul id="scroller" class="scroller" mymax="{{max}}">
                    <li ng-repeat="x in menu" navrepeat-finish data="{{x.name}}"><a href="javascript:;" ng-click="click()" class="{{x.classname}}" ></a></li>
                </ul>
        </div>
    </div>
    
    

    <section class="media_info">
        <div class="media_info_contain have_movie">
            <div class="media_info_left">
                <a href="tpl/show_movie.html">
                    <img src="images/p1.jpg" alt="">
                    <div class="media_info_movie">
                         <span></span>
                    </div>
                </a>
            </div>
            <div class="media_info_right">
                <p class="p1"><a href="tpl/show_movie.html">卡通人物客串super model 这样很Disney</a></p>
                <p class="p2">#时尚芭莎</p>
            </div>
            <div class="media_info_icon">
            <div class="media_info_eyes">
                <img src="images/eyes.png" alt="">
                <span>342</span>
            </div>
            <div class="media_info_msg">
                <img src="images/msg.png" alt="">
                <span>78</span>
            </div>
            </div>
        </div>
        <div class="line"></div>
        <div class="media_info_contain">
            <div class="media_info_left">
                <a href="tpl/show_text.html">
                    <img src="images/p1.jpg" alt="">
                    <div class="media_info_movie">
                         <span></span>
                    </div>
                </a>
            </div>
            <div class="media_info_right">
                <p class="p1"><a href="tpl/show_text.html">卡通人物客串super model 这样很Disney</a></p>
                <p class="p2">#时尚芭莎</p>
            </div>
            <div class="media_info_icon">
            <div class="media_info_eyes">
                <img src="images/eyes.png" alt="">
                <span>342</span>
            </div>
            <div class="media_info_msg">
                <img src="images/msg.png" alt="">
                <span>78</span>
            </div>
            </div>
        </div>
        <div class="line"></div>

        <div class="media_info_big">
            <p><a href="javascript:;">欧洲杯期间，穿的美美的看球才是正经事</a></p>
            <a href="javascript:;"><img src="images/b1.jpg" alt=""></a>
            <div class="media_info_icon">
                <div class="media_info_eyes">
                    <img src="images/eyes.png" alt="">
                    <span>342</span>
                </div>
                <div class="media_info_msg">
                    <img src="images/msg.png" alt="">
                    <span>78</span>
                </div>
                <p>#时尚芭莎</p>
            </div>
            
        </div>
        <div class="line"></div>

    </section>
